<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642813170673-lb1b37pemi35m2srgl845a2qbbf56rmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642813170673-lb1b37pemi35m2srgl845a2qbbf56rmi</string>
	<key>API_KEY</key>
	<string>AIzaSyBaPGElfYLwuJRXj3v6YcG3nlloIvddWZY</string>
	<key>GCM_SENDER_ID</key>
	<string>642813170673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsapp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-8e454</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-8e454.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642813170673:ios:e4505edf043e02ded32a50</string>
</dict>
</plist>